*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: Gotham;
	src: url(../fonts/Gotham/GothamMediumRegular.otf);
	font-weight: normal;
}
@font-face{
	font-family: GothamBook;
	src: url(../fonts/Gotham/GothamBookRegular.otf);
	font-weight: normal;
}
@font-face{
	font-family: FontAwsome;
	src: url(../fonts/Gotham/GothamMediumRegular.otf);
	font-weight: normal;
}
body{
	font-family: Gotham;
	background: url(../img/main-bg.png)no-repeat center center fixed;
	background-size: cover;
}
a{
	color: inherit;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.right{
	float: right;
}
.left{
	float: left;
}
/*-----NAVIGATION-----*/
.header{
	background: url(../img/header-bg.png) center no-repeat;
	background-size: cover;
}
.menu{
	background: linear-gradient(to right, #fff 50%, #e94e38 50%);
}
.menu .container{
	padding-left: 0;
	padding-right: 0;
	background: #fff;
}
.nav{
	font-size: 14px;
	text-transform: uppercase;
	color: #96a6a7;
}
.navbar-toggle{
	float: right;
	font-size: 32px;
	border: none;
	background: transparent;
	margin-top: 10px;
}
.navbar-brand{
	padding: 15px 0;
	height: auto;
	display: inline-block;
}
.navbar-brand img{
	width: 154px;
	height: 45px;
}
.navbar{
	padding: 0;
	margin: 0;
}
.navbar li a{
	display: block;
	padding: 30px 10px;
}
.navbar li{
	float: left;
}
.navbar li a:hover{
	background: #eee;
}
.btn.search,.btn.login{
	color: #fff;
	float: left;
	padding: 23px 27px;
	border: none;
}
.btn.search{
	font-size: 24px;
	background: #e2dee0;	
}
.btn.login{
	padding: 30px 40px;
	text-transform: uppercase;
	background: #e94e38;
}
.fa-user{
	font-size: 18px;
	margin-right: 15px;
}
/*----- MAIN SEARCH SECTION-----*/
.main-search{
	padding-top: 135px;
	text-align: center;
	height: 510px;
}
.main-search h1{
	color: #fff;
	margin-bottom: 30px;
}
.search-form select, .search-form input, .srch-btn{
	font-family: GothamBook;
	padding: 15px 15px;
	width: 40%;
	color: #fff;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 50px;
	font-size: 18px;
	border: 1px solid rgba(255,255,255, 0.2);
	margin-left: 5%;
	outline: none;
}
.search-form select:first-child{
	margin-left: 0;
}
.search-form input{
	width: 85%;
	margin-top: 20px;
	margin-left: 0;
}
.srch-btn{
	background: #e94e38;
	border: none;
	width: 30%;
	margin-top: 25px;
	text-transform: uppercase;
}
.bottom-nav{
	background-color: #fff;
}
.bottom-nav ul{
	margin: 25px 0;
}
.bottom-nav ul li{
	font-size: 12px;
	display: inline-block;
	color: #96a6a7;
	text-transform: uppercase;
	margin-right: 19px;
}
.bottom-nav ul li a:hover{
	color: #e94e38;
}
@media screen and (max-width: 992px){
	.menu .container{
		width: 100%;
		padding: 0 30px;
	}
	.navbar-header{
		width: 100%;
	}
	.active{
		position: absolute;
		display: block!important;
		float: none;
		top: 100%;
		left: 0;
		background: #fff;
		width: 100%;
		z-index: 10;
	}
	.active .navbar{
		float: none;
	}
	.active li{
		float: none;
		display: block;
	}
	.active .navbar-form{
		float: none;
	}
	.menu{
		position: relative;
	}
}