*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: Gotham;
	src: url(../fonts/Gotham/GothamMediumRegular.otf);
	font-weight: normal;
}
@font-face{
	font-family: GothamBook;
	src: url(../fonts/Gotham/GothamBookRegular.otf);
	font-weight: normal;
}
@font-face{
	font-family: FontAwsome;
	src: url(../fonts/Gotham/GothamMediumRegular.otf);
	font-weight: normal;
}
body{
	font-family: Gotham;
	background: url(../img/main-bg.png)no-repeat center center fixed;
	background-size: cover;
}
a{
	color: inherit;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
ul li{
	display: inline-block;
}
.right{
	float: right;
}
.left{
	float: left;
}
.round-btn{
	display: block;
	background-color: #1baf5d;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.sm{
	width: 40px;
	height: 40px;
	font-size: 19px;
}
.md{
	width: 55px;
	height: 55px;
}
.lg{
	width: 104px;
	height: 104px;
	margin: 0 auto;
}
.clr-1{
 background: #b6c0c1; /* asdas */
}
.clr-2{
	background: #f19e1f;
}
.clr-3{
	background: #88499c;
}
.icon{
	display: inline-block;
	background: url(../img/css_sprites.png) center no-repeat;
}
.icon-sm{
	margin-top: 9px;
	width: 24px;
	height: 20px;
}
.icon-md{
	margin-top: 10px;
	width: 31px;
	height: 27px;
}
.icon-lg{
	width: 50px;
	height: 40px;
}
/*-----NAVIGATION-----*/
.header{
	background: url(../img/header-bg.png) center no-repeat;
	background-size: cover;
}
.menu{
	background: linear-gradient(to right, #fff 50%, #e94e38 50%);
}
.menu .container{
	padding-left: 0;
	padding-right: 0;
	background: #fff;
}
.nav{
	font-size: 14px;
	text-transform: uppercase;
	color: #96a6a7;
}
.navbar-toggle{
	float: right;
	font-size: 32px;
	border: none;
	background: transparent;
	margin-top: 10px;
}
.navbar-brand{
	padding: 15px 0;
	height: auto;
	display: inline-block;
}
.navbar-brand img{
	width: 154px;
	height: 45px;
}
.navbar{
	padding: 0;
	margin: 0;
}
.navbar li a{
	display: block;
	padding: 30px 10px;
}
.navbar li{
	float: left;
}
.navbar li a:hover{
	background: #eee;
}
.btn.search,.btn.login{
	color: #fff;
	float: left;
	padding: 23px 27px;
	border: none;
}
.btn.search{
	font-size: 24px;
	background: #e2dee0;	
}
.btn.login{
	padding: 30px 40px;
	text-transform: uppercase;
	background: #e94e38;
}
.fa-user{
	font-size: 18px;
	margin-right: 15px;
}
/*----- MAIN SEARCH SECTION-----*/
.main-search{
	padding-top: 135px;
	text-align: center;
	height: 510px;
}
.main-search h1{
	color: #fff;
	margin-bottom: 30px;
}
.search-form select, .search-form input, .srch-btn{
	font-family: GothamBook;
	padding: 15px 15px;
	width: 40%;
	color: #fff;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 50px;
	font-size: 18px;
	border: 1px solid rgba(255,255,255, 0.2);
	margin-left: 5%;
	outline: none;
}
.search-form select:first-child{
	margin-left: 0;
}
.search-form input{
	width: 85%;
	margin-top: 20px;
	margin-left: 0;
}
.srch-btn{
	background: #e94e38;
	border: none;
	width: 140px;
	margin-top: 25px;
	margin-left: 0;
	text-transform: uppercase;
	box-shadow: 0 2px 0 #c1412e;
}
.bottom-nav{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 #edebec;
	box-shadow: 0 1px 0 #edebec;
    margin-bottom: 1px;
}
.item ul{
	margin: 25px 0;
}
.item ul li{
	font-size: 12px;
	display: inline-block;
	color: #96a6a7;
	text-transform: uppercase;
	margin-right: 19px;
}
.item  ul li a:hover{
	color: #e94e38;
}
.bottom-nav-btn{
	text-align: center;
	margin-top: 15px;
}
.bottom-nav-btn>select,.bottom-nav-btn>button{
	font-family: Gotham;
	padding: 12px 12px;
	width: 40%;
	color: #e94e38;
	border-radius: 50px;
	font-size: 12px;
	border: 1px solid #cad2d3;
	outline: none;
	text-transform: uppercase;
}
.bottom-nav-btn>button{
	color: #fff;
	background: #1baf5d;
	border-color: #1baf5d;
	margin-left: 3%; 
}
.fa-map-marker{
	margin-left: 12px;
}
.filter{
	float: right;
	margin-top: 10px;
}
.filter a:hover{
	color: #fff;
}
.filter ul, .filter p{
	display: inline-block;
}
.filter p{
	font-size: 12px;
	color: #96a6a7;
	text-transform: uppercase;
	margin-right: 10px;
	vertical-align: middle;
}
.home-icon{
	background-position: -193px -20px;
}
.girl-icon{
	background-position: -16px -20px;
}
.hat-icon{
	background-position: -387px -20px;
	width: 30px;
}
.melody-icon{
	background-position: -134px -20px;
}
.bus-icon{
	background-position: -73px -20px;
}
.section{
	background-color: #f3f1f2;
	width: 100%;
	padding-top: 45px;
}
.article{
	width: 100%;
	margin: 0 auto 40px auto;
	background: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	overflow: hidden;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
    -o-box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
}
.article .prev{
	width: 100%;
	position: relative;
}
.article .prev img{
	width: 100%;
}
.article .round-btn{
	position: absolute;
	bottom: -27px;
	left: 50%;
	margin-left: -27px;
	border: 3px solid #fff;
}
.article .discr{
	border-top: 3px solid #1baf5d;
	background-color: #fff;
	padding: 30px 15px 10px;
	text-align: center;
}
.article .discr>h3{
	font-size: 14px;
	margin: 0;
	height: 49px;
	color: #566375;
	overflow: hidden;
}
.article .discr p{
	font-size: 12px;
	text-transform: uppercase;
	color: #1baf5d;
	margin: 0;
}
.price{
	padding: 5px 11px;
	background: #1baf5d;
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: 8px;
	top: 8px;
	border-radius: 15px;
}
.layer{
	width: 100%;
	height: 100%;
	background: #88499c;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .7;
}
.rating, .top-rating{
	color: #f19e1f;
	font-size: 12px;
}
.rating i,.top-rating i{
	letter-spacing: -1px;
}
.rating .amount{
	color: #96a6a7;
}
.top-rating{
	position: absolute;
	width: 100%;
	top: 79px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.fa-comments-o{
	margin-left: 10px;
	font-size: 24px;
}
.show{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -70px;
	text-transform: uppercase;
	border-radius: 20px;
	border: 2px solid #fff;
	background-color: rgba(136, 73, 156, 0.7);
	padding: 7px 18px;
	color: #fff;
	font-size: 12px;
}
.show .fa-search{
	margin-right: 10px;
}
.party.article .discr{
	border-top: 3px solid #f19e1f;
}

.melody-md-icon{
	background-position: -321px -20px;
}
.party.article .discr p{
	color: #f19e1f
}
.trip.article .discr{
	border-top: 3px solid #88499c;
}
.trip.article .discr p{
	color: #88499c;
}
.home-md-icon{
	background-position: -456px -20px;
}
.bus-md-icon{
	background-position: -254px -20px;
}
.article.larg{
	width: 100%;
}
.article.larg .round-btn{
	bottom: -27px;
	left: 20px;
	margin-left: 0;
	border: 3px solid #fff;
}
.article.larg .round-btn:after{
	content: "";
	display: block;
	width: 2px;
	height: 14px;
	background-color: #f3f1f2;
	position: absolute;
	bottom: -19px;
	left: 24px;
}
.article.larg .rating{
	position: absolute;
	left: 100px;
	bottom: 5px;
	font-family: GothamBook;
}
.article.larg .rating>p{
	color: #fff;
	font-size: 18px;
	margin: 0;
	float: left;
	margin-right: 10px;
	text-transform: uppercase;
}
.article.larg .rating span{
	color: #fff;
}
.article.larg .rating>i{
	margin-top: 7px;
}
.article.larg .prev:before{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px -20px 20px rgba(0,0,0, .7);
}
/* .article.larg .discr{

} */
.article.larg .avatar{
 	width: 55px;
 	height: 55px;
 	border-radius: 55px;
 	border: 3px solid #e2dee0;
 	overflow: hidden;
 	position: relative;
 	float: left;
 	margin: 29px 0 0 5px;
}
.article.larg .avatar>img{
 	position: absolute;
 	left: -1px;
 	top: 0;
}
.article.larg .discr{
	height: 155px;
	padding-top: 15px;
}
.article.larg .comment-box{
 	text-align: left;
 	overflow: hidden;
 	color: #566375;
}
.article.larg .comment i{
	font-size: 18px;
	color: #f19e1f;
}
.article.larg .comment{
	width: 85%;
	float: right;
}
.article.larg .login-name{
	text-transform: uppercase;
	font-weight: bold;
	color: inherit;
	margin-top: 5px;
}
.article.larg .comment p{
	text-transform: initial;
	font-size: 14px;
	font-family: GothamBook;
	color: inherit;
}
.article.larg .comment p>a{
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px solid #566375;
}
.load-more{
	font-size: 18px;
	text-align: center;
	color: #566375;
}
.load-more>a{
	border-bottom-width: 1px;
	border-bottom-style:  solid;
	border-bottom-color: #cccdd3;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.load-more>a:hover{
	border-bottom-color: #23527c;
}
.fa-long-arrow-right{
	margin-left: 7px;
}
.load-more>a:hover+.fa-long-arrow-right{
	color: #23527c;
}
.offers{
	padding-top: 50px;
    border-top: 1px solid #e2dee0;
    margin-top: -18px;
    text-align: center;
}
.offers h1{
	font-size: 22px;
	color: #566375;
}
.offers h3{
	font-size: 16px;
	color: #96a6a7;
}
.offers .round-btn{
	background-color: #f3f1f2;
	border: 2px solid #9dacad;
	position: relative;
	box-shadow: 5px 0 0 #f3f1f2, -5px 0 0 #f3f1f2;
	-webkit-box-shadow: 5px 0 0 #f3f1f2, -5px 0 0 #f3f1f2;
	-moz-box-shadow: 5px 0 0 #f3f1f2, -5px 0 0 #f3f1f2;
	-ms-box-shadow: 5px 0 0 #f3f1f2, -5px 0 0 #f3f1f2;
	-o-box-shadow: 5px 0 0 #f3f1f2, -5px 0 0 #f3f1f2;
	
}
.offers li{
	margin-right: 60px;
}
.offers .icon{
	display: inline-block;
	background-image: url(../img/css_sprites_old.png);
	margin-top: 26px;
}
.offers ul{
	margin-top: 68px;
	margin-bottom: 34px;
	position: relative;
}
.offers ul:before{
	content: "";
	display: block;
	width: 65%;
    height: 2px;
    background: #e2dee0;
    position: absolute;
    top: 55px;
    left: 12%;
}
.offers .round-btn:hover{
	border-color: #1baf5d;
}
.home-lg{
	background-position: -1120px -20px;
}
.girl-lg{
	background-position: -520px -20px;
}
.hat-lg{
	background-position: -1030px -14px;
}
.melody-lg{
	background-position: -770px -20px;
	height: 47px;
}
.bus-lg{
	background-position: -601px -20px;
	height: 47px;
}
.offers .round-btn:hover .home-lg{
	background-position: -1300px -20px;
}
.offers .round-btn:hover .girl-lg{
	background-position: -940px -20px;
}
.offers .round-btn:hover .hat-lg{
	background-position: -1210px -14px;
}
.offers .round-btn:hover .melody-lg{
	background-position: -855px -20px;
}
.offers .round-btn:hover .bus-lg{
	background-position: -684px -20px;
}
.reality{
	width: 100%;
}
.reality h3{
	font-size: 24px;
	color: #1baf5d;
	text-align: center;
	margin-bottom: 40px;
}
.reality .content{
	overflow: hidden;
	margin-bottom: 10px;
}
.reality .round-btn{
	height: 62px;
	width: 62px;
	line-height: 62px;
	font-size: 30px;
	float: left;
}
.reality p{
	color: #566375;
	font-family: GothamBook;
	width: 70%;
	float: right;
	margin-right: 45px;
}